@page "/home"
@using System.ComponentModel.DataAnnotations


<PageTitle>Bienvenido</PageTitle>

<h1>Bienvenido</h1>
<br />
<p>Bienvenido a la página</p>
<hr />
<br />
<AuthorizeView>
    <h2>Estás autenticado!</h2>
    <p>Hola @context.User.Identity?.Name , sos administrador!</p>
    <hr/>
    <p>Accede a las funciones del administrador a través de la barra lateral</p>
</AuthorizeView>
<hr />
<br />

